.form-group.form-alt {
  display: flex;
  flex-direction: column-reverse;

  label {
    margin-bottom: .25rem;
  }
}

.form-control, .custom-control, .custom-select {
  &:focus {
    border-color: $primary;
  }

  &-alt {
    background: $gray-100;
    border-color: $gray-100;
    color: $gray-800;
    transition: all .2s;

    &:focus {
      background: $gray-200;
      border-color: $gray-200;
      box-shadow: none;
    }

    &.is-invalid {
      background: mix(white, $danger, 90%);
      border-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23eb445a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23eb445a' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

      &::-webkit-input-placeholder,
      &:focus::-webkit-input-placeholder {
        color: $danger;
      }

      ~label {
        color: $danger;
      }

      &:focus {
        background: mix(white, $danger, 80%);
        border-color: mix(white, $danger, 80%);
        box-shadow: none;
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23eb445a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23eb445a' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }
    }

    &.is-valid {
      background: mix(white, $success, 90%);
      border-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231ee0ac' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

      &::-webkit-input-placeholder,
      &:focus::-webkit-input-placeholder {
        color: $success;
      }

      ~label {
        color: $success;
      }

      &:focus {
        background: mix(white, $success, 80%);
        border-color: mix(white, $success, 80%);
        box-shadow: none;
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231ee0ac' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }
    }
  }
}

.input-group-alt {
  .input-group-text {
    border: 0;
    background: $gray-300;
  }
  .form-control, .custom-control, .custom-select {
    background: $gray-100;
    border-color: $gray-100;
    color: $gray-800;
    transition: all .2s;

    &:focus {
      background: $gray-200;
      border-color: $gray-200;
      box-shadow: none;
    }

    &.is-invalid {
      background: mix(white, $danger, 90%);
      border-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23eb445a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23eb445a' stroke='none'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

      &::-webkit-input-placeholder,
      &:focus::-webkit-input-placeholder {
        color: $danger;
      }

      ~label {
        color: $danger;
      }

      &:focus {
        background: mix(white, $danger, 80%);
        border-color: mix(white, $danger, 80%);
        box-shadow: none;
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='12' height='12' fill='none' stroke='%23eb445a' viewBox='0 0 12 12'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23eb445a' stroke='none'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }
    }

    &.is-valid {
      background: mix(white, $success, 90%);
      border-color: transparent;
      background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231ee0ac' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
      background-repeat: no-repeat;
      background-position: right calc(0.375em + 0.1875rem) center;
      background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);

      &::-webkit-input-placeholder,
      &:focus::-webkit-input-placeholder {
        color: $success;
      }

      ~label {
        color: $success;
      }

      &:focus {
        background: mix(white, $success, 80%);
        border-color: mix(white, $success, 80%);
        box-shadow: none;
        border-color: transparent;
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%231ee0ac' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: right calc(0.375em + 0.1875rem) center;
        background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
      }
    }
  }
}

// Form Floating General Input
.form-floating {
  position: relative;
  margin: 1rem 0;

  > label {
    position: absolute;
    margin-top: -1.95rem;
    margin-left: .8rem;
    margin-bottom: 0;
    color: $input-placeholder-color;
    transition: all .3s;
  }

  >.form-control {
    &.is-invalid ~ label {
      color: $danger;
    }
    &.is-valid ~ label {
      color: $success;
    }

    &::placeholder {
      opacity: 0;
      transition: all .3s;
    }

    &:focus::placeholder {
      opacity: 1;
      transition: all .3s;
    }

    &:not(:placeholder-shown) ~ label,
    &:focus + label {
      transition: all .3s;
      margin-top: -3rem;
      margin-left: .5rem;
      font-size: .85rem;
      background-color: $white;
      padding: 0 .25rem;
    }
    &:focus:not(.is-invalid):not(.is-valid) + label {
      color: $primary;
    }
  }
}

.form-floating-alt {
  .form-control {
    height: 3.25rem;
    padding: 1.5rem .75rem .35rem .75rem;

    &.is-invalid ~ label {
      color: $danger;
    }
    &.is-valid ~ label {
      color: $success;
    }

    &::placeholder {
      opacity: 0;
      transition: all .3s;
    }

    &:focus::placeholder {
      opacity: 1;
      transition: all .3s;
    }

    &:not(:placeholder-shown) ~ label,
    &:focus + label {
      transition: all .3s;
      margin-top: -3rem;
      margin-left: .5rem;
      font-size: .85rem;
      background-color: $white;
      padding: 0 .25rem;
    }
    &:focus:not(.is-invalid):not(.is-valid) + label {
      color: $primary;
    }
  }

  label {
    margin-top: -2.35rem;
    position: absolute;
    margin-left: .8rem;
    margin-bottom: 0;
    color: $input-placeholder-color;
    transition: all .3s;
  }

  &:not(:placeholder-shown) ~ label,
  &:focus + label {
    margin-top: -3rem;
    transition: all .3s;
    margin-left: .5rem;
    font-size: .85rem;
    background-color: $white;
    padding: 0 .25rem;
  }
  &:focus:not(.is-invalid):not(.is-valid) + label {
    color: $primary;
  }
}

// Form Floating General Input
.form-floating-select {
  position: relative;
  margin: 1rem 0;

  > label {
    position: absolute;
  }

  >select.custom-select {
    &.is-invalid ~ label {
      color: $danger;
    }
    &.is-valid ~ label {
      color: $success;
    }

    &::placeholder {
      opacity: 0;
      transition: all .3s;
    }

    &:focus::placeholder {
      opacity: 1;
      transition: all .3s;
    }

    &:not(:placeholder-shown) ~ label,
    &:focus + label {
      transition: all .3s;
      top: -.75rem;
      left: .5rem;
      font-size: .85rem;
      background-color: $white;
      padding: 0 .25rem;
    }
    &:focus:not(.is-invalid):not(.is-valid) + label {
      color: $primary;
    }
  }
}


.form-floating-select-alt {
  label {
    position: absolute;
  }

  select.custom-select {
    height: 3.25rem;
    padding: 1.5rem .75rem .35rem .75rem;

    &.is-invalid ~ label {
      color: $danger;
    }
    &.is-valid ~ label {
      color: $success;
    }

    &::placeholder {
      opacity: 0;
      transition: all .3s;
    }

    &:focus::placeholder {
      opacity: 1;
      transition: all .3s;
    }

    &:not(:placeholder-shown) ~ label,
    &:focus + label {
      transition: all .3s;
      top: .25rem;
      left: 1.5rem;
      font-size: .85rem;
      background-color: $white;
      padding: 0 .25rem;
    }
    &:focus:not(.is-invalid):not(.is-valid) + label {
      color: $primary;
    }
  }
}
