// Input Custom Container ====================================
.input-card-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;

  &.column {
    flex-direction: column;

    @include media-breakpoint-down('md') {
      &-sm {
        flex-direction: column;
      }
    }

    label:not(:last-child) {
      margin-bottom: .5rem;
    }
  }

  > label:not(:last-child) {
    margin-right: .5rem;
  }

  @media screen and (max-width: 992px) {
    flex-direction: column;
    flex-wrap: wrap;

    > label {
      margin: 0 !important;
      margin-bottom: .5rem;
    }
  }
}

label.input-custom-card {
  margin: 0;
  width: 100%;

  input {
    display: none;

    ~.input-wrap {
      border: 1px solid $gray-300;
      border-radius: 0.5rem;
      padding: .45rem .55rem;
      cursor: pointer;
      transition: all .2s;

      .input-header {
        display: flex;
        font-weight: bold;
        align-items: center;

        .indicator {
          margin-right: .5rem;
          transition: .2s ease-in-out all;
          width: 1.25rem;
          height: 1.25rem;
          display: block;
          border-radius: .35rem;
          border: 1px solid $gray-300;
          transform: scale(.9);

          &.circle {
            border-radius: 50%;
          }

          &:before {
            color: $white;
            opacity: 0;
            transform: scale(.8);
          }
        }
      }

      .input-body {
        padding-top: .25rem;
        padding-left: 1.75rem;

        >* {
          &:only-child {
            margin: 0;
            padding: 0;
          }
        }
      }
    }

    &:disabled {
      ~.input-wrap {
        opacity: .5;
        cursor: not-allowed;
      }
    }

    &:checked {
      ~.input-wrap {
        border-color: $primary;
        background: rgba(0,0,0,.075);

        .input-header {
          color: $primary;

          .indicator {
            border-color: $primary;
            background: $primary;
            transform: scale(.9);

            &:before {
              color: $white;
              content: "\f00c";
              position: absolute;
              width: 100%;
              height: 100%;
              font-family: "Font Awesome 5 Free";
              font-weight: 900;
              opacity: 1;
              margin-top: 1.35px;
              font-size: 10px;
              text-align: center;
              transition: .2s ease-in-out all;
              transform: scale(1);
            }
          }
        }
      }
    }
  }

  &.custom-alt {
    input:checked~.input-wrap {
      background: $primary;
      color: $white;

      .input-header {
        color: $white;

        .indicator {
          border-color: $white;
          background: $white;

          &:before {
            color: $primary
          }
        }
      }
    }
  }
}

// Input Custom Container ====================================
